.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*.bin
.gradle/2.4/taskArtifacts/cache.properties.lock
*.bin
.idea/workspace.xml
app/app-release.apk
*.bin
.gradle/2.4/taskArtifacts/cache.properties.lock
*.bin
.idea/workspace.xml
*.bin
*.bin
